/* prettier-ignore */
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  box-sizing: border-box;
  font-family: "Unbounded", cursive;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  overflow: hidden;
}

body {
  background-image: url(./assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#gridContainer {
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 25% auto 10%;
}

.mainContainer {
  grid-area: 1 / 2;
  margin-top: 5vh;
}

#navigationContainer {
  grid-area: 2 / 3;
}

#navigationContainer li {
  line-height: 1.7rem;
}

#footer {
  grid-area: 3 / 2;
}

.contact {
  font-size: 40px;
}

/* NAVIGATION STILL WORKING ON IT
   Will be removed and changed into Tailwind when its working as intended.*/

.dropdown {
  left: auto;
  right: auto;
  top: 31%;
  transform: translateX(-105%);
}

li,
h1,
h2,
h3,
h4,
h5,
p {
  text-shadow: 1px 1px 2px black;
  line-height: 1.5rem;
}

li:hover {
  color: rgba(236, 48, 48, 0.87);
}

@media only screen and (max-device-width: 667px) and (orientation: portrait) {
  .hiddenMobile {
    display: none;
  }

  #gridContainer {
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 25% auto 10%;
  }

  #navigationContainer {
    margin-top: -3vh;
    font-weight: 800;
    width: 100vw;
    grid-area: 3 / 1;
    margin: 0;
  }

  #navigationContainer li {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
    grid-area: 2 / 2;
    font-size: 1.5rem;
    padding: 4px;
    font-weight: 800;
    line-height: 4rem;
  }

  .dropdown {
    z-index: 1;
    background-color: #242424;
  }

  li:active {
    color: rgba(236, 48, 48, 0.87);
    text-decoration-line: line-through;
  }
}
