/* prettier-ignore */
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  box-sizing: border-box;
  font-family: "Unbounded", cursive;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  overflow: hidden;
}

body {
  background-image: url(./assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#gridContainer {
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% auto 10%;
}

.mainContainer {
  grid-area: 1 / 2;
  margin-top: 5rem;
}

#navigationContainer {
  grid-area: 2 / 3;
}

#navigationContainer li {
  line-height: 1.7rem;
}

#footer {
  grid-area: 3 / 2;
}

.contact {
  font-size: 40px;
}

/* NAVIGATION STILL WORKING ON IT
   Will be removed and changed into Tailwind when its working as intended.*/

.dropdown {
  left: auto;
  right: auto;
  top: 31%;
  transform: translateX(-105%);
}

li,
h1,
h2,
h3,
h4,
h5,
p {
  text-shadow: 1px 1px 2px black;
  line-height: 1.5rem;
}

li:hover {
  color: rgba(236, 48, 48, 0.87);
}
