/* prettier-ignore */
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  box-sizing: border-box;
  font-family: "Unbounded", cursive;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  overflow: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  /* justify-content: center; */

  background-image: url(./assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#gridContainer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.7fr 2fr 0.7fr 0.6fr;
  grid-template-rows: 1.8fr 0.2fr;
  gap: 0px 0px;
  align-content: stretch;
}

.navContainer,
.footerContainer,
.mainContainer {
  margin: 0;
}

.navContainer {
  background: green;
  opacity: 90%;
  /* justify-content: left; */

  min-width: 75px;
  max-width: 100px;

  grid-area: 2 / 3;
}

.mainContainer {
  opacity: 80%;
  background-color: blue;
  grid-area: 2 / 2;

  width: 900px;
  max-width: 100%;
  min-width: 320px;
}

.footerContainer {
  background-color: orange;
  opacity: 90%;
  grid-area: 3 / 2;

  min-width: 320px;
  max-width: 600px;
}
